.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  
  margin: auto auto;
}

#image{
  width: 100%;
  overflow: hidden;
}


img {
  display: block;
  min-width: 100%;
  height: 300px;
  object-fit: cover;
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

#set {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#result {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid white;
  padding: 2%;
  color: white;
  width: 90%;
  display: flex;
  justify-content: space-around;
  position: relative;
  top: -100px;
  left: 0;
  text-align: left;
  flex-wrap: wrap;
  gap: 10px;
}

#test {
  position: relative;
  top: -40px;
}
button {
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}
button:hover {
  transform: translateY(3px);
}

@media only screen and (max-width: 500px) {
  .App {
    height: 500px;
    width: 90%;
    margin: 30px auto;
  }
  #result {
    flex-direction: column;
    align-items: center;
    top: -180px;
    width: 180px;
  }
  #test {
    top: -100px;
  }
}
